doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    form(action='homepage', method='post')
      p 
        span userId
        input#userid(name='userid',type='text')
      p 
        span password
        input#password(name='password',type='password')
      p
        input(type='submit', value='submit')
        
